@import '../styles/variables.less';
@import '../styles/skin.less';

.overscroll {
	display: none;
	position: absolute;
	border-radius: 50%;
	transition-duration: @moon-scrollable-overscroll-duration;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

	&.visible {
		display: block;
	}

	// Skin colors
	.applySkins({
		background-color: @moon-accent;
	});
}

.horizontal {
	top: 50%; // Center the element
	width: 6px;
	height: 70%;
	transform: translateY(-50%) scale3d(1, 0, 1);

	&.after {
		right: 0;
		:global(.enact-locale-right-to-left) & {
			left: 0;
			right: auto;
		}
	}

	&.before {
		left: 0;
		:global(.enact-locale-right-to-left) & {
			left: auto;
			right: 0;
		}
	}

	&.expand {
		transform: translateY(-50%) scale3d(0.5, 1, 1);
	}
}

.vertical {
	left: 50%; // Center the element
	width: 70%;
	height: 6px;
	transform: translateX(-50%) scale3d(0, 1, 1);

	&.after {
		bottom: 0;
		:global(.enact-locale-right-to-left) & {
			top: 0;
			bottom: auto;
		}
	}

	&.before {
		top: 0;
		:global(.enact-locale-right-to-left) & {
			top: auto;
			bottom: 0;
		}
	}

	&.expand {
		transform: translateX(-50%) scale3d(1, 0.5, 1);
	}
}
