// OverscrollEffect.less
//
@import '~@enact/ui/Scrollable/Scrollable.less';

@import '../styles/variables.less';
@import '../styles/skin.less';

:root {
	--moon-scrollable-overscroll-ratio-horizontalbefore: 0;
	--moon-scrollable-overscroll-ratio-horizontalafter: 0;
	--moon-scrollable-overscroll-ratio-verticalbefore: 0;
	--moon-scrollable-overscroll-ratio-verticalafter: 0;
}

.overscroll {
	display: block;
	position: absolute;
	content: "";
	border-radius: 50%;
	transition-duration: @moon-scrollable-overscroll-duration;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);

	&.visible {
		display: block;
	}

	// Skin colors
	.applySkins({
		background-color: @moon-accent; // TBD: do we need to use Skinnable for Scrollable to use this?
	});
	background-color: yellow;
}

.horizontal {
	.overscroll;

	top: 50%; // Center the element
	width: 6px;
	// height: 70%; // TBD for testing
	height: 100%; // TBD for testing
}

.horizontalEffects::before {
	.horizontal;

	transform: translateY(-50%) scale3d(calc((2 - var(--moon-scrollable-overscroll-ratio-horizontalbefore)) / 2), var(--moon-scrollable-overscroll-ratio-horizontalbefore), 1);
	left: 0;

	:global(.enact-locale-right-to-left) & {
		left: auto;
		right: 0;
	}
}

.horizontalEffects::after {
	.horizontal;

	transform: translateY(-50%) scale3d(calc((2 - var(--moon-scrollable-overscroll-ratio-horizontalafter)) / 2), var(--moon-scrollable-overscroll-ratio-horizontalafter), 1);
	right: 0;

	:global(.enact-locale-right-to-left) & {
		left: 0;
		right: auto;
	}
}

.vertical {
	.overscroll;

	left: 50%; // Center the element
	// width: 70%; // TBD for testing
	width: 100%; // TBD for testing
	height: 6px;
}

.verticalEffects::before {
	.vertical;

	transform: translateX(-50%) scale3d(var(--moon-scrollable-overscroll-ratio-verticalbefore), calc((2 - var(--moon-scrollable-overscroll-ratio-verticalbefore)) / 2), 1);
	top: 0;
	:global(.enact-locale-right-to-left) & {
		top: auto;
		bottom: 0;
	}
}

.verticalEffects::after {
	.vertical;

	transform: translateX(-50%) scale3d(var(--moon-scrollable-overscroll-ratio-verticalafter), calc((2 - var(--moon-scrollable-overscroll-ratio-verticalafter)) / 2), 1);
	bottom: 0;
	:global(.enact-locale-right-to-left) & {
		top: 0;
		bottom: auto;
	}
}
